<view class='background'>
  <view class='weather' a:if="{{weatherShow}}">
    <view class='city'>{{weatherData.basic.parent_city}}市
    </view>
    <view class='temperature'>{{weatherData.now.cond_txt}} {{weatherData.daily_forecast[0].tmp_max}} ~ {{weatherData.daily_forecast[0].tmp_min}}℃
    </view>
  </view>
  <image class='logo' src='https://jbxqalipay.nanjingdata.cn/image/jblogo3.png' mode="aspectFit">
  </image>
</view>
<view class='header' onTap='login'>
  <view class='user'>
    <image class='avatar' src="{{avatar}}">
    </image>
    <view class='nickName'>{{nickName}}    
    </view>
  </view>
  <view class='login'>
    <image class="service-arrow2" mode="aspectFit" src="https://jbxqalipay.nanjingdata.cn/m/image/arrow.png" />
  </view>
</view>
<view class="recommend-service-container">
  <view class="title">
    <view class="left-title">最近使用    
    </view>
  </view>
  <view class="service-list">
    <view a:for="{{items}}" a:key="*this" onTap='toWebView' class="service-item" data-id="{{item.dataId}}" data-latest="{{index.toString()}}">
      <image class="service-icon" mode="aspectFit" src="{{item.src}}" />
      <view class="service-name">{{item.name}}      
      </view>
    </view>
  </view>
</view>

<swiper indicator-dots="{{indicatorDots}}" autoplay="{{autoplay}}" circular="{{circular}}" vertical="{{vertical}}" interval="{{interval}}" duration="{{duration}}" class="swiperHeight2">
  <block a:for="{{background}}" a:key="*this">
    <swiper-item>
      <image  mode="scaleToFill" src="{{'https://jbzwnew.qimixi.net'+item.image}}" class="headerImg" data-id="{{item.name}}" onTap='navigateTo'></image>
    </swiper-item>
  </block>
</swiper>

<view class='title3'>
  <view data-id='0' class='{{dataId==0?"isChosen":"unChosen"}}' onTap='choose'>新区通办  
  </view>
  <view data-id='1' class='{{dataId==1?"isChosen":"unChosen"}}' onTap='choose'>服务专区  
  </view>
</view>
<view a:if="{{dataId==0}}" class="recommend-service-container2">
  <view a:for="{{itemList}}" a:key="{{index}}" class="service-list2">
    <view class='service-title2'>{{item.title}}    
    </view>
    <view a:for="{{item.items}}" a:for-item="items" a:for-index="itemsIndex" a:key="{{itemsIndex}}" onTap='toWebView' class="service-item2" data-id="{{items.dataId}}" data-index="{{index.toString()}}" data-itemsindex="{{itemsIndex.toString()}}">
      <image class="service-icon2" mode="aspectFit" src="{{items.src}}" />
      <view>
        <view class="service-name2">{{items.name}}        
        </view>
        <view class="service-detail2">{{items.detail}}        
        </view>
      </view>
      <image class="service-arrow2" mode="aspectFit" src="https://jbxqalipay.nanjingdata.cn/m/image/arrow.png" />
    </view>
  </view>
</view>
<view class='imageContainer3'>
  <image a:for="{{specificZone}}" a:key="{{index}}" onTap='toWebView' data-id="{{item.dataId}}" a:if="{{dataId==1}}" class='goTo3' mode="widthFix" src='{{item.src}}'>
  </image>
</view>
<view class='x'>南京市江北新区管理委员会行政审批局主办

</view>

